body {
  background-color: #004a77;
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease;
}

#logo {
  width: 200px;
  margin-bottom: 20px;
}

#player {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
}

/* Mode lecture */
body.playing {
  background-color: black;
}

body.playing #logo,
body.playing h1 {
  display: none;
}

body.playing #player {
  display: block;
}

/* Progress bar */
#progress-container {
  position: absolute;
  bottom: 30px;
  left: 20px;      /* marge gauche */
  right: 20px;     /* marge droite */
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  display: none;
  border-radius: 3px;   /* coins arrondis */
}

#progress-container.show {
  display: block;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: #ff0000;
  transition: width 0.3s linear;
  border-radius: 3px;
}

/* Temps courant / durée totale */
#current-time, #total-time {
  font-size: 14px;
  color: white;
  position: absolute;
  top: -20px;
}

#current-time {
  left: 0;
}

#total-time {
  right: 0;
}
